<ion-view view-title="Comments">

  <ion-header-bar class="bar bar-header bar-clear" style="color: Green;">
    <button class="button button-clear button-primary" ng-click="modal.hide()" style="color: #000;">
      <img src="../img/icons/strata-ios-back.svg" alt="" style="    height: 20px;margin: 10px 20px;">
    </button>
    <h1 class="title" style="margin-top: 5px; font-family: Montserrat, sans-serif; font-size: 14px; color: #89949F;">CREATE POST</h1>
    <!--<button class="button button-clear button-primary" ng-click="modal.hide()" style="color: #000;">Cancel</button>-->
  </ion-header-bar>

  <ion-content class="padding" scroll="false">

    <div class="item item-avatar" style="border: none;padding-left: 65px;">
      <div class="strata-post-user-default-icon-small"></div>
      <h2 style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 400;">Marty <span style="font-weight: 600;">McFly</span></h2>
      <p style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 200; overflow: auto; text-overflow: initial; white-space: initial;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      </p>
    </div>

    <div class="item item-avatar" style="border: none;padding-left: 65px;">
      <div class="strata-post-user-default-icon-small"></div>
      <h2 style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 400;">Pablo Henrique <span style="font-weight: 600;">Silva</span></h2>
      <p style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 200; overflow: auto; text-overflow: initial; white-space: initial;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      </p>
    </div>

    <div class="item item-avatar" style="border: none;padding-left: 65px;">
      <div class="strata-post-user-default-icon-small"></div>
      <h2 style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 400;">Fernando <span style="font-weight: 600;">Garcia</span></h2>
      <p style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 200; overflow: auto; text-overflow: initial; white-space: initial;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      </p>
    </div>

  </ion-content>

  <ion-footer-bar align-title="left" class="bar-clear strata-bar-clear-chat">
    <div class="strata-chat-wrap">
      <button class="strata-button-send-action"></button>
      <input class="strata-chat-input" type="text" placeholder="Send comment">
    </div>
  </ion-footer-bar>

</ion-view>
