<ion-view title='' hide-nav-bar="true">
  <ion-content style="background: #65C291">

    <div class="ion-content-wrapper" style="width: 100%;display: flex;align-items: center; margin-top: 150px;">

      <div style="padding: 16px;width: 100%">
        <div class="login-logo" style="margin-bottom: 30px;">
        </div>

        <div class="strata-login-form-group input-username">
          <input type="text" class="strata-login-input" style="">
        </div>

        <div class="strata-login-form-group input-password">
          <input type="text" class="strata-login-input">
        </div>

        <div class="strata-login-form-group " style="">
          <a class="button button-full strata-login-button-full" href="#/tab/groups">Sign in</a>
        </div>


        <!--<div class="strata-login-form-group" style="width: 100%">-->
          <!--<a href="#/tab/groups">Facebook</a>-->
          <!--<a href="#/tab/groups">Google+</a>-->
        <!--</div>-->
      </div>

    </div>

  </ion-content>
</ion-view>
