@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../fonts/montserrat-light-webfont.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/montserrat-regular-webfont.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../fonts/montserrat-bold-webfont.ttf');
}
